*{
    margin: 0;
    padding: 0;
}
.nav-container{
    display: flex;
    background: #D5D2D2;
    justify-content: space-around;
    color: rgb(255, 255, 255);


}
.logo-container{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
    color: cyan;

}
.logo{
    width: 200px;
}

.items{
    display: flex;
    list-style: none;
}
.item{
    
    margin-right: 10px;
    padding: 10px;
    font-size: 19px;
    text-decoration: none;
    cursor: pointer;
}

.banner-container{
    width: 100%;
    height: 100vh;
    background-image: url(/asset/image/background.jpg),
    linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4));
    background-blend-mode: overlay;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: white;

}
.title-banner{
    font-size: 85px;
    font-weight: bold;
}
.primary{
    color: red;
}
.description{
    font-size: 22px;
    width: 50%;
    margin: auto;
    padding: 10px;
}
.btn-btn-dis{
    font-size: 16px;
    background-color: rgb(245, 44, 44);
    color: white;
    border: none;
    margin: 5px;
    padding: 15px 35px;

}
.btn-btn-hire{
    font-size: 16px;
    background-color: rgb(255, 253, 253);
    color: rgb(0, 0, 0);
    border: none;
    margin: 5px;
    padding: 15px 35px;

}