*{
    margin: 0;
    padding: 0;
}
.nav-container{
    display: flex;
    background: #D5D2D2;
    justify-content: space-around;
    color: rgb(255, 255, 255);


}
.logo-container{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
    color: cyan;

}
.logo{
    width: 200px;
}

.items{
    display: flex;
    list-style: none;
}
.item{
    
    margin-right: 10px;
    padding: 10px;
    font-size: 19px;
    text-decoration: none;
    cursor: pointer;
}

.banner-container{
    width: 100%;
    height: 100vh;
    background-image: url(./asset/image/background.jpg),
    linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4));
    background-blend-mode: overlay;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: white;

}
.title-banner{
    font-size: 85px;
    font-weight: bold;
}
.primary{
    color: red;
}
.description{
    font-size: 22px;
    width: 50%;
    margin: auto;
    padding: 10px;
}
.btn2{
    font-size: 16px;
    border: none;
    margin: 5px;
    padding: 15px 35px;

}
.btn-btn-dis{
    background-color: rgb(245, 44, 44);
    color: white;

}
.btn-btn-hire{
    background-color: rgb(255, 253, 253);
}
.service-container{
    width: 100%;
    height: 100vh;
    background-image: url(./asset/image/footer-bg.png),
    linear-gradient(rgba(0, 0, 0, 0.89),rgba(0, 0, 0, 0.938));
    background-blend-mode: overlay;
    color: rgb(190, 207, 208);
    padding: 70px;
    display: flex;
    justify-content: center;

}
.service-btn{
    color: gray;
    border-radius: 25px;
}
.service-title{
    font-size: 40px;
    font-weight: bold;
}
.service-description{
    font-size: 20px;
    width: 75%;
    padding: 12px;
    

}
.service-list {
    list-style: decimal;
    padding: 22px;
    font-size: 18px;
    color: rgb(190, 207, 208);
}
.author-details{
    display: flex;
    align-items: center;

}
.author-img-desc{
    display: flex;
    align-items: center;
    padding: 10px;
    border-right: 1px solid red;
}
.author-img{
    width: 25%;
    border-radius: 100px;
    padding: 7px;
}
.author-name{
    text-decoration: none;
    font-size: 15px;
    font-weight: 300;
    padding: 5px;
    color: rgb(255, 253, 253);
}
.more-details {
    padding: 20px;
    margin-left: 11px;
}
.service-up{
    display: flex;
}
.service-down{
    display: flex;
}
.service{
    padding: 20px;
    background-color: white;
    box-shadow: 4px 4px 8px gray;
    width: 200px;
    height: 200px;
    text-align: center;
    color: black;
    border-radius: 10px;
    margin: 5px;

}
.service-logo{
    width: 50%;
    padding-bottom: 10px;
}
.service-left-container{
    width: 50%;
}